@model IEnumerable<ListEmployeesPartial.Models.Employee>
<h2>Employees</h2>
<div class="row">
    <div class="col-md-4"><b>Name</b></div>
    <div class="col-md-4"><b>Salary</b></div>
    <div class="col-md-4"><b>IsPermanent</b></div>
</div>
@foreach (Employee i in Model)
{
    if (i.IsPermanent == true)
    {
        <div class="row">
            <div class="col-md-4">@i.Name</div>
            <div class="col-md-4">@i.Salary</div>
            <div class="col-md-4"><b>@i.IsPermanent</b></div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-4">@i.Name</div>
            <div class="col-md-4">@i.Salary</div>
            <div class="col-md-4">@i.IsPermanent</div>
        </div>

    }
} 